@charset "UTF-8";

@media screen and (min-width: 768px) {
    #burguer{
        display: none;
    }
}
menu {
    display: block;
}
/*menu em telas maiores o menu vai ficar um do lado do outro*/
menu > ul > li {
    display: inline-block;
}
/*texto em telas maiores maximo */
main{
    width: 768px;
}