@charset "UTF-8";

/*Configuração Geral*/
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  

}
body, html {
  background-color: lightgray;

}
/* box configuração de cor de fundo!...*/
header {
  background-color: rgb(148, 146, 146);
}
/*seletor de fontes h1*/
header > h1 {
  padding: 10px;
  text-align: center;
}
/*menu burguer configurção de cor resolução*/
#burguer{
  background-color: rgb(50, 47, 47);
  color: white;
  display: block;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
/*passar mouse para acender menu"..*/
#burguer:hover {
  background-color: rgb(161, 157, 157);
  color: rgb(252, 247, 247);
}
/*seletor do meun*/
menu {
  display: block;
}
/*seletor que tira os ponto li*/
menu > ul {
  list-style-type: none;
}
/*link que está dentro do li*/
menu .a {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: rgb(87, 87, 87);
  border-top: 2px solid gray;
  
}
menu > ul > li > a:hover {
  background: gray;
}