@charset "UTF-8";


/*Versão mobile first*/

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*Border-box inclui borda no calculo tamnho*/
/*teve uma correção tirou body para tirar barra de rolagem!..*/
html {
    
    height: 100vh;
}

/*Background usa todos comandos possiveis*/
/*centralização da imagem*/

body {
    background:  black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
/*ajuste da largura, e cor transparente sobre a imagem, e centralização dos icones, e a rodondar as bordas e 10px para dar espaço interno*/
main {
    background-color: rgb(255, 255, 255, 0.842);
    width: 80vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}
/*fonte centralizada e branco com somba black*/
h1 {
    text-align: center;
    color: white;
    font-size: 2em;
    text-shadow: 1px 2px 2px black;
}
img{
    display: block;
    margin: auto;
}
 img#phone {display: block;}
 img#tablet {display: none;}
 img#print {display: none;}
 img#pc {display: none;}
 img#tv {display: none;}

footer{
    background-position: center bottom;
    background-color: blueviolet;
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;
    margin: auto;
    padding: 10px;
    color: white;
}