@charset "UTF-8";
/*Configurapçôes Gerais*/


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/*configurações vw, vh*/
html, body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(89, 89, 243);
    background-size: contain;
    background-repeat: no-repeat;
}
/*Cor na fontes e sonbra nas letras*/
h1 {
    color: white;
    text-shadow: 3px 3px 0px black;
    padding: 10px;
}