*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: cadetblue;
}
.tela {
    background-color: white;
    text-align: center;
    width: 290px;
    margin: 200px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.400);
    box-sizing: border-box;
    
}
.sty{
    
}